@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: bold;
    font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 75px;
    font-size: 1.6em;
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    background-color: #f5f5f5;
    font-size: 14px;
}

.panel-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: none;
    font-weight: normal;
    font-size: 13px;
}
.panel-body p {
    font-size: 0.7em;
    color: #a5a498;
    margin: 5px 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.panel-body a {
    color: #a5a498;
}

.alert-build-success {
    background-color: #dff0d8;
    color: #93c54b;
    border: 1px solid #dff0d8;
}
.alert-build-fail {
    background-color: #f2dede;
    color: #e37272;
    border: 1px solid #e37272;
}

.navbar input {
    color: #98978b;
}

/* Theme fixes -_- */
.btn-lg, .btn-group-lg>.btn {
    font-size: 18px !important;
}
.tooltip {
    text-transform: none;
}
.tooltip-inner {
    max-width: 350px;
}
.navbar .input-group-btn .btn {
    border: solid 1px #5b5d56;
    border-left: none;
    padding-top: 11px;
    padding-bottom: 11px;
}
