{% extends '::base.html.twig' %}

{% block main_menu %}

    {{ parent() }}

    {% verbatim %}
        <form class="navbar-form navbar-left" ng-submit="switchBranch(formBranch)">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="formBranch">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" ng-click="switchBranch('master')"><i class="fa fa-code-fork"></i> master</a></li>
                            <li><a href="#" ng-click="switchBranch('develop')"><i class="fa fa-code-fork"></i> develop</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    {% endverbatim %}

{% endblock %}

{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% verbatim %}
        <div class="alert alert-build-fail" ng-if="counter.failing > 0">
            <strong>Summary:</strong>
            {{ counter.failing }} builds failing out of {{ counter.builds }} builds on {{ branch }}.
        </div>

        <div class="row">

            <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="repository in repositories|orderBy:'order'">

                <div class="panel" ng-class="{
                        'panel-success': repository.build.status == 'passed',
                        'panel-danger': repository.build.status == 'errored' || repository.build.status == 'failed',
                        'panel-info': repository.build.status == 'started' || repository.build.status == 'created',
                        'panel-default': repository.build.status == 'canceled' || !repository.build.status
                     }">

                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="{{ repository.build.url }}">
                                {{ repository.name|split:'/':1 }}
                                <span ng-if="!!repository.build.status">- {{ repository.build.status|ucfirst }}</span>
                            </a>
                        </h3>
                    </div>

                    <div class="panel-body">
                        <a href="https://github.com/{{ repository.name }}" target="_blank" class="pull-right"
                           title="{{ repository.name }} on GitHub">
                            <i class="fa fa-github fa-border"></i></a>

                        <p ng-if="!repository.build">Loading...</p>
                        <p ng-if="!!repository.build && !repository.build.status">No builds on {{ branch }}</p>

                        <p ng-if="!!repository.build && !!repository.build.status">
                            <span tooltip="Build ran for {{ repository.build.duration }} minute(s)" tooltip-placement="bottom">
                                <i class="fa fa-clock-o"></i> {{ repository.build.time|timeAgo }}
                            </span>
                            <a href="{{ repository.commit.url }}" tooltip="{{ repository.commit.time|timeAgo }}: {{ repository.commit.message }}" tooltip-placement="bottom">
                                <i class="fa fa-user"></i> {{ repository.commit.author }}
                            </a>
                        </p>
                    </div>

                </div>

            </div>

        </div>
    {% endverbatim %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('vendor/angular/angular.min.js') }}"></script>
    <script src="{{ asset('vendor/angular-ui-bootstrap-bower/ui-bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ asset('vendor/angular-timeago/dist/angular-timeago.min.js') }}"></script>

    <script>
        var repositories = {{ repositories|json_encode|raw }};
    </script>
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
